
<body style="background-image: none;">
    <br>
    <h2 class="d-flex justify-content-center">{{title}}</h2>
    <br>
    <form class="center" method="post">
        <div class="row">
            <div class="col-sm-12">
                <input placeholder="Ime izdelka" class="lg-field" type="text" name="naziv">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <input placeholder="Cena izdelka [€]" class="sm-field" type="text" name="cena">
            </div>
            <div class="col-sm-6">
                <select class="sm-field" style="height: 30px;" name="slika" id="slika">
                    <option value="img\Gold_Whey_CHOCOLATE_1000_r.jpg">{{izbira.ena}}</option>
                    <option value="img\vegan-choco_r.jpg">{{izbira.dva}}</option>
                    <option value="img\bcaa.jpg">{{izbira.tri}}</option>
                    <option value="img\ua-pjt-rock-brahma-bull.jpg">{{izbira.stiri}}</option>
                    <option value="img\ua-armour-sport-hi-lo-ss.jpg">{{izbira.pet}}</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label>Opis</label>
            <textarea class="form-control lg-field" id="opis" rows="3" name="opis"></textarea>
        </div>
        <br>
        <div>
            <div>
                <label>Mnenje strokovnjaka</label>
                <select style="border: 1px solid rgb(238, 143, 1)" name="ocena">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <br>
        <div style="text-align:center" class="center">
            <input type="submit" class="button" value="Dodaj izdelek">
        </div>
      </div>
    </form>
</body>